* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  font-size: 1.1rem;
}

/* CLASSI UTILITA' */
.debug {
  border: 2px red dotted;
}
img {
  width: 100%;
}
.button {
  color: white;
  background-color: #0061ff;
  padding: 3px 6px;
  text-decoration: none;
}
.button-2 {
  color: white;
  background-color: #0061ff;
  padding: 3px 6px;
  text-decoration: none;
  width: 200px;
  text-align: center;
}

.button-3 {
  color: black;
  border: 1px solid;
  padding: 3px 6px;
  text-decoration: none;
  width: 200px;
  text-align: center;
}
.button-4 {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  width: 200px;
  text-align: center;
  background-color: white;
}
.container-full {
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-big {
  width: 1180px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container-big-footer {
  width: 1180px;
  margin: auto;
  display: flex;
}
.container-small {
  width: 900px;
  margin: 40px auto;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
.check {
  color: #0061ff;
}

/* CLASSI HEADER */

header {
  display: flex;
  justify-content: space-between;
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
li {
  margin: 10px 15px;
}
.logo {
  height: 20px;
}

.list-left,
.list-right {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
}

/* CLASSI MAIN */
main {
  margin-top: 44px;
}

.jumbo {
  background-color: #b4d0e7;
}

.container-box {
  display: flex;
  margin-top: 50px;
}
.pic-1 {
  width: 100%;
}
.box-left {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.box-right {
  width: 70%;
}

#arrow {
  font-size: 3rem;
}

/* PRIMA SEZIONE */
.input-radio {
  margin-top: 50px;
  margin-bottom: 30px;

  display: flex;
}

#fattura-mensile {
  margin-right: 25px;
}
.container-col {
  display: flex;
  justify-content: space-between;
}
.body-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px 0;
  padding: 0 15px;
}
.body-col-4 {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  padding: 0 15px;
}
.body-col > * {
  margin-top: 25px;
}
.col-1 {
  width: calc((100% - 60px) / 3);
  border: 1px black solid;
}
.col-2 {
  width: calc((100% - 60px) / 3);
  border: 1px black solid;
  margin: 0 30px;
}

.col-3 {
  width: calc((100% - 60px) / 3);
  border: 1px black solid;
}
.col-4 {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
}

.title-col {
  border-bottom: 1px black solid;
  text-align: center;
  padding: 10px 0;
}

.gray {
  color: lightgray;
}
#rule {
  margin-top: 30px;
  width: 60px;
}

.true {
  display: flex;
}

.col-left {
  display: flex;
  width: 70%;
  flex-direction: column;
}
.col-right {
  display: flex;
  width: 30%;
  flex-direction: column;
}

.col-left > * {
  margin-top: 25px;
}

.container-section-2 {
  display: flex;
  width: 100%;
  margin: 150px auto;
}

.partner-pic {
  width: 70%;
  margin-right: 50px;
}

.partner {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 200px;
}
/* TERZA SEZIONE */
.container-card {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: calc(100% / 3 - 30px);
  justify-content: center;
  align-items: center;
  margin: 50px 15px;
}

.card > * {
  margin-top: 25px;
}

/* QUARTA SEZIONE */

.Team {
  line-height: 50px;
  height: 200px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* QUINTA SEZIONE */
.big-box {
  width: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;

  /* height: 375px; */
}
.big-box-2 {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  height: 500px;
}
.box-svg {
  width: calc(100% / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% / 2);
}
.box-svg:hover {
  border: 15px solid rgba(255, 255, 255, 0.5);
  transition: 1s;
}

.box-svg > img {
  width: 50%;
}
.designit {
  background-color: #a2d39b;
}
.box-svg > img {
  filter: invert(1);
}
.asu {
  background-color: #61082b;
}
.florida {
  background-color: #0093ce;
}
.topps {
  background-color: #ff1c1c;
}
.bg-designit {
  background-color: #f5f5f5;
}
.wbr {
  background-color: #d5001f;
}
.hearst {
  background-color: #b4d0e7;
}
.lp {
  background-color: #0d2481;
}
.cco {
  background-color: #ffd830;
}

.bg-bottom-card {
  background-color: #b4d0e7;
}
.prova {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left {
  width: 70%;
}
.right {
  width: 30%;
}
/* CLASSI FAQ */
.faq-title {
  margin: 40px 0;
  line-height: 80px;
}

.faq-section {
  margin-top: 20px;
  line-height: 60px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
}
.col-footer {
  width: calc(100% / 5);
  padding: 20px 30px;
  margin-top: 80px;
}
.col-footer-title {
  margin-bottom: 60px;
  font-weight: bolder;
}
.col-footer-body li {
  list-style: none;
  margin-left: 0;
  margin-top: 25px;
}

.country {
  width: 15%;
  height: 150px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  padding: 20px 30px;
  margin: 80px 0;
}
